* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: green;
    font-size: 28px;
    margin: 20px;
    padding: 10px;
}

h2 {
    color: rgb(133, 133, 1);
    font-size: 26px;
    margin: 18px;
    padding: 8px;
}

h3 {
    color: blue;
    font-size: 24px;
    margin: 16px;
    padding: 6px;
}

p {
    font-size: 22px;
    margin: 12px;
    padding: 6px;
}
