
.hmenu{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    font-size: large;
}

.hmenu ul{
    list-style:none;
    padding: 5px;
}


.hmenu ul li a {
    color: brown;
    text-align: justify;
    text-transform: capitalize;
    display: block;
    padding: 20px;
}

.hmenu ul li a:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-style: wavy;
}

.hmenu ul li a:visited{
    color: black;
    font-family: fantasy;
}